{% extends "base.html" %}

{% block content %}
<div class="dashboard-header">
  <span>Welcome, {{ session['user']['name'] }}</span>
  <a href="/user/signout" class="signout-link">Signout</a>
</div>




<!--	<div class="card">
		<h2 class = "center">Your Info</h2>
		<p>
		<strong>ID:</strong>{{session['user']['_id']}}<br>
		<strong>Name:</strong>{{session['user']['name']}}<br>
		<strong>Email:</strong>{{session['user']['movies']}}
		</p>
	</div>-->
</div>
<div id = "dashboard_recommendations">

</div>

<div class="center">
<button id="update">Update</button> 
</div>
{% endblock %}
