{% extends "base.html" %}

{% block content %}
<div class="instructions">
  <p>Browse through genres. </p> <p><strong>Click</strong> on the movies you love across as many genres as you like.<p>Then hit <strong>Done</strong> when you're ready.</p>
  <p><i>The more you pick, the better your recommendations</i></p>
</div>
<div class = "viewport">
	<button class="arrow left-arrow">&#8249;</button>
	<div class = "track">

		<div class = "genrecard" data-title = "Action" style="background-color:#8B32B8" >
			Action
		</div>
		<div class = "genrecard" data-title = "Adventure" style="background-color:#C42FC4" >
			Adventure
		</div>
		<div class = "genrecard" data-title = "Animation" style="background-color:#DBA9C8">
			Animation
		</div>
		<div class = "genrecard" data-title = "Comedy" style="background-color:#C4A9DB">
			Comedy
		</div>
		<div class = "genrecard" data-title = "Crime" style="background-color:#B7A9DB">
			Crime
		</div>
		
		<div class = "genrecard" data-title = "Documentary" style="background-color:#6A67CF">
			Documentary
		</div>
		<div class = "genrecard" data-title = "Drama" style="background-color:#5799CF">
			Drama
		</div>
		<div class = "genrecard" data-title = "Family" style="background-color:#57CFC7">
			Family
		</div>
		<div class = "genrecard" data-title = "Fantasy" style="background-color:#0DD199">
			Fantasy
		</div>
		<div class = "genrecard" data-title = "History" style="background-color:#1CD654">
			History
		</div>
		<div class = "genrecard" data-title = "Horror" style="background-color:#85D61C">
			Horror
		</div>
		<div class = "genrecard" data-title = "Music" style="background-color:#E2F07A">
			Music
		</div>
		<div class = "genrecard" data-title = "Mystery" style="background-color:#F0D67A">
			Mystery
		</div>
		<div class = "genrecard" data-title = "Romance" style="background-color:#ED9911">
			Romance
		</div>
		<div class = "genrecard" data-title = "Science Fiction" style="background-color:#ED5711">
			Science Fiction
		</div>
		<div class = "genrecard" data-title = "TV Movie" style="background-color:#F24192">
			TV Movies
		</div>
		<div class = "genrecard" data-title = "Thriller" style="background-color:#F2BF94">
			Thriller
		</div>
		<div class = "genrecard" data-title = "War" style="background-color:#E695E0">
			War
		</div>
		<div class = "genrecard" data-title = "Western" style="background-color:#CD66E3">
			Western
		</div>
		

	</div>
	<button class="arrow right-arrow">&#8250;</button>
</div>
<div id = "moviegrid">
	
</div>
<div class="center">
<button id="done">Done</button> 
</div>
{% endblock %}
