{% extends "base.html" %}

{% block content %}
<div class = "viewport">
	<button class="arrow left-arrow">&#8249;</button>
	<div class = "track">

		<div class = "genrecard" data-title = "Action" >
			Action
		</div>
		<div class = "genrecard" data-title = "Adventure" >
			Adventure
		</div>
		<div class = "genrecard" data-title = "Animation" >
			Animation
		</div>
		<div class = "genrecard" data-title = "Comedy" >
			Comedy
		</div>
		<div class = "genrecard" data-title = "Crime" >
			Crime
		</div>
		
		<div class = "genrecard" data-title = "Documentary" >
			Documentary
		</div>
		<div class = "genrecard" data-title = "Drama" >
			Drama
		</div>
		<div class = "genrecard" data-title = "Family" >
			Family
		</div>
		<div class = "genrecard" data-title = "Fantasy" >
			Fantasy
		</div>
		<div class = "genrecard" data-title = "History" >
			History
		</div>
		<div class = "genrecard" data-title = "Horror" >
			Horror
		</div>
		<div class = "genrecard" data-title = "Music" >
			Music
		</div>
		<div class = "genrecard" data-title = "Mystery" >
			Mystery
		</div>
		<div class = "genrecard" data-title = "Romance" >
			Romance
		</div>
		<div class = "genrecard" data-title = "Science Fiction" >
			Science Fiction
		</div>
		<div class = "genrecard" data-title = "TV Movie" >
			TV Movies
		</div>
		<div class = "genrecard" data-title = "Thriller" >
			Thriller
		</div>
		<div class = "genrecard" data-title = "War" >
			War
		</div>
		<div class = "genrecard" data-title = "Western" >
			Western
		</div>
		

	</div>
	<button class="arrow right-arrow">&#8250;</button>
</div>
<div id = "moviegrid">
	
</div>
<div class="center">
<button id="done">Done</button> 
</div>
{% endblock %}
